  @font-face{
      font-family: aboutus; 
      src:url('../Fredoka_One/FredokaOne-Regular.ttf');
    }


           body{
            margin:0;
            padding:0;
                display: block;
        }
        * {
            box-sizing: border-box;
        }
		body {
            background-image: url("../images/About-us.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            //background-position: 50% -118px;
        }

        .head{
        	text-align: center;
        	color: white;
        	font-size: 55px;
        	font-weight: 300;
        	font-family: aboutus;
        	margin-top: 100px;
        }
        .segment-content{

        		    padding-left: 85px !important;
    padding-right: 20px;
    max-width: 1140px;
    margin: 0 auto;
        		text-align: center;
        		color:white;
        	
        }
.accordion,.accordionwhy,.subhead{

    padding: 0;
    color:#05a4e8;
   font-size: 20px;
   font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin:20px;
    display: block;
}

.accordion.active, .accordion:hover , .anc:hover,.anc1:hover,.accordionwhy.active,.accordionwhy:hover {
    color:#343434; 
    transition: 0.3s ease-in-out;

}

div.panel{
    padding: 0;
   display:none;
     transition: 0.3s ease-in-out;
   text-decoration: none;
   color: #7E7E7C;
   
}
.show{
	display: block !important;
	transition: 0.2s ;
}
	
	.aboutus,.director,.vision,.whySaastha{
		width: 60%;float: left;margin-top: 20px;border-left: 2px solid #7E7E7C;
	}


	p,li{
		  padding: 0 !important;
    text-align: justify;
   font-size: 14px;
   font-family: "Open Sans", sans-serif;
    margin:20px;
    display: block;
   
	}
.anc{
	 text-decoration: none;
   color: #7E7E7C;
   font-size: 18px;
    font-family: "Open Sans", sans-serif;
   padding: 10px;
}
.anc1{
	 text-decoration: none;
   color: #7E7E7C;
   font-size: 18px;
    font-family: "Open Sans", sans-serif;
   padding: 0px;
}


@media (min-width:767px) and (max-width: 1033px){

			.aboutus,.director,.vision,.whySaastha{
		width: 70%;float: left;margin-top: 20px;border-left: 2px solid #7E7E7C;
	}

	.anc{
   padding: 0px;

}

li{
		  padding: 0 !important;
    text-align: left;
   font-size: 10px;
   font-family: "Open Sans", sans-serif;
    
    display: block;
   
	}
}

@media (min-width: 310px) and (max-width: 650px){

			.aboutus,.director,.vision,.whySaastha{
		width: 100%;float: left;margin-top: 20px;border:0;

	}
	.bordiv{
		margin-left: 0px !important;
	}

	#accord{
		width:100% !important;
	}
}