    @font-face{
      font-family: touch; 
      src:url('../Fredoka_One/FredokaOne-Regular.ttf');
    }

    a{
            text-decoration: none !important;
        }
		body{
            margin:0;
            padding:0;
            display: block;
            background-color: #F7F7F6;
        }
        * {
            box-sizing: border-box;
           
  
        }

        .div1{

        	margin-left: 364px;
        	margin-right: 364px;
        }
        #touch{
        text-align: center;
         font-family:touch;
          font-size: 30px;
          font-weight: 50;
        }
      	hr{
      		border-color: #67bcdb;
      		border-width: 0.4px;	
      	}
      	#contact{

      		 background-image: url('../images/contact.jpg');
      		 background-size: 100% 100%;
            overflow:hidden;
            text-align: center;
            display: flex;
            margin-top:50px;
  			flex-flow: row wrap;
      	}

      	.innerdiv{
      		 text-align: center;
      		 width: 100%;
      		margin-bottom: 50px;
      		display: flex;
      		flex-flow: row wrap;
      	}

.add1{
    color:white	;
    font: 1.3em "Open Sans", sans-serif !important;
}
.add1:hover{
    color:#ddd;
}


      	.ul {
  width: 33.33%
}
.ul > li {
  
}
.heading {
 font-size: 22px !important;
    font-weight: normal;
    padding: 5px;
    color:white;
   font: 1.3em "Open Sans", sans-serif;
}

.form{
			padding: 20px;

            background-color: white;
            margin: 50px 415px 20px 415px;
             box-shadow: 3px 3px 4px #B4B0AF;
}
       

       input[type=submit] {
            background-color: #67bcdb;
            border-color: #67bcdb;
            color: white;
            font-weight: bold;
            cursor: pointer;
            width: 50%;

        }   
        input[type=submit]:hover{
        	background-color: #23bbf3;
        }
 .form-control {
            display: block;
            width: 100%;
            height: 42px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        textarea{
 height: 95px !important;

        }

        .label{
        	font-weight: bold;
        	font-size: 14px;
        }

        .asterix{
        	color: red;
        }

        @media only screen and (max-width: 1033px) {
        			.form{
			padding: 20px;
            background-color: white;
            margin: 80px 300px 20px 300px;
             box-shadow: 3px 3px 4px #B4B0AF;

}


             .div1{

             	margin-right: 233px;
             	margin-left: 233px;
             }

}
@media only screen and (max-width: 768px) {
  #contact{
text-align: left;

  }
.form{
			padding: 20px;
            background-color: white;
            margin: 80px 200px 20px 200px;
             box-shadow: 3px 3px 4px #B4B0AF;
}
  .heading {
    font-size: 1.5em !important;
  }

     .div1{

             	margin-right: 110px;
             	margin-left: 110px;
             }

  }

  @media only screen and (max-width: 568px) {
  
  .ul {
    width: 100%
   
  }
  .heading {
    font-size: 1.5em !important;
    padding: 0;

  }
  .form{
			padding: 0px;
            background-color: transparent;
            margin: 0px 5px 20px 5px;
            
}


.div1{

             	margin-right: 10px;
             	margin-left: 10px;
             }
}

li{
	list-style: none;
}